# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Dataset files
datasets/
data/

# Results and model files (optional, comment out if you want to track these)
model/*.pth
plots/
results/

# System files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp